rasterio==1.4.4
geopandas==1.1.2
opencv-python-headless==4.13.0.90
xarray==2026.1.0
scipy==1.17.0
scikit-learn==1.8.0
pyarrow==23.0.0
duckdb==1.4.4
netCDF4==1.7.4
cartopy==0.25.0
shapelysmooth==0.2.1
tqdm==4.67.1
ipython==7.34.0
psutil==7.2.2
requests==2.32.4
gdown==5.2.1
geocube==0.7.1
rasterstats==0.20.0
